# Title: My Data Science Notebook

# Introduction:
### This notebook explores various aspects of data science.

## Data Science Languages:
 - Python
 - R
 - Julia
 - SQL

## Data Science Libraries:
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn

## Table of Data Science tools
 | Tool          | Description                             |
 |---------------|-----------------------------------------|
 | Jupyter       | Interactive computing and data analysis |
 | TensorFlow    | Machine learning library by Google       |
 | Tableau       | Data visualization tool                 |
 | Apache Spark  | Distributed data processing             |

## Markdown cell introducing arithmetic expression examples
### Arithmetic Expression Examples:
### Let's explore some basic arithmetic operations in this section.

In [2]:
# Code cell for multiplying and adding numbers
a = 5
b = 3
multiply_result = a * b
add_result = a + b
multiply_result, add_result

(15, 8)

In [3]:
# Code cell to convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives:
 1. Explore data science languages.
 2. Learn about key data science libraries.
 3. Understand basic arithmetic operations.

#### Author: Aryan Juyal